html,
body {
  margin: 0;
  padding: 0;
  font-family: cursive;
 
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  border: 1px solid wheat;
  padding-bottom: 20px;
  text-align: center;
  
}

h1{
    color: aliceblue;
    text-shadow: 1px 1px 3px rgb(122, 72, 72), -1px -1px 3px rgb(122, 72, 72);
    margin: 0 auto;
    margin: 20px auto;
    line-height: 40px;
    width: 300px;
    padding: 0;
    text-align: center;
    background-color: rgb(235, 235, 235);
}

img{
    margin: 0 auto;
    width: 300px;
}

#input-el{
    line-height: 40px;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin: 20px auto;
}

#btn-el{
    color: white;
    line-height: 40px;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(122, 72, 72);
    border-radius: 5px;
    width: 300px;
    /* text-align: center; */
    margin: 0 auto;
}

#btn-el:hover{
    background-color: rgb(123, 89, 89);

}

#btn-el:active{
    background-color: rgb(126, 109, 109);
}

h3{
    text-align: left;
    margin-top: 40px;
    padding-left: 10px;
    margin-bottom: 0;
}

#list-el{
    background-color: rgb(235, 235, 235);
    text-align: left;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}
